{% set johnFP = '2' %} {% set ryanFP = '4' %} {% set christopherFP = '3' %} {%
set malloryFP = '1' %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>
      Accords
    </title>
    <link href="css/skin.css" media="all" rel="stylesheet" />
  </head>
  <body id="Body">
    <div class="wrapper">
      <div class="card">
        <img src="http://via.placeholder.com/450x260" alt="Headshot" />
        <div class="card__caption">
          <div class="card__fatepoints">
            {{ johnFP }}
          </div>
          <div class="card__name">
            Hux <span class="card__name--real">(John)</span>
          </div>
          <ul class="card__primary-aspects">
            <li>
              <span class="card__label">High Concept</span> Operative for the
              Discarded
            </li>
            <li>
              <span class="card__label">Trouble</span> Caught in a Criminal Web
            </li>
          </ul>
          <div class="card__label">Aspects</div>
          Tired of Being Middle Management // Seeking Salvation For A Life Of
          Crime // Toe in the Fae Waters
        </div>
      </div>

      <div class="card">
        <img src="http://via.placeholder.com/450x260" alt="Headshot" />
        <div class="card__caption">
          <div class="card__fatepoints">
            {{ malloryFP }}
          </div>
          <div class="card__name">
            Evie <span class="card__name--real">(Mallory)</span>
          </div>
          <ul class="card__primary-aspects">
            <li>
              <span class="card__label">High Concept</span> Unwilling Founder of
              Nebulous Organization “The Truth”
            </li>
            <li>
              <span class="card__label">Trouble</span> Disgusted by Her Vampire
              Hunger
            </li>
          </ul>
          <div class="card__label">Aspects</div>
          Never Stops Digging // No Firewall Can Stop Me // Broke Ink Addict
        </div>
      </div>

      <div class="card">
        <img src="http://via.placeholder.com/450x260" alt="Headshot" />
        <div class="card__caption">
          <div class="card__fatepoints">
            {{ christopherFP }}
          </div>
          <div class="card__name">
            Michel <span class="card__name--real">(Christopher)</span>
          </div>
          <ul class="card__primary-aspects">
            <li>
              <span class="card__label">High Concept</span> Shinobi for the
              Erlking’s Interests
            </li>
            <li>
              <span class="card__label">Trouble</span> Fresh meat in the
              Erlking's service
            </li>
          </ul>
          <div class="card__label">Aspects</div>
          More Sneaky Than Straightforward // Extraordinarily Ordinary //
          Emerging Confidence with my newfound friends
        </div>
      </div>

      <div class="card">
        <img src="http://via.placeholder.com/450x260" alt="Headshot" />
        <div class="card__caption">
          <div class="card__fatepoints">
            {{ ryanFP }}
          </div>
          <div class="card__name">
            Ravi <span class="card__name--real">(Ryan)</span>
          </div>
          <ul class="card__primary-aspects">
            <li>
              <span class="card__label">High Concept</span> Agnostic Knight of
              Vishnu
            </li>
            <li><span class="card__label">Trouble</span> Complicated Family</li>
          </ul>
          <div class="card__label">Aspects</div>
          Always hiding behind a book // Targeted by Evil Forces // Euro Gaming
          Enthusiast
        </div>
      </div>
    </div>
  </body>
</html>
